* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde: rgb(25, 206, 77);
  --fondo: #f7f7f7;
  --texto: #000000;
  --blanco: #fff;
  --gris-claro: rgb(255, 253, 253);
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: var(--fondo);
  color: var(--texto);
  line-height: 1.5;
}

.logo-eco {
    width: 200px;
    height: auto;
}

.product-grid .card-img-top {
  width: 100%;
  height: 220px;
  object-fit: contain;
  border-bottom: 1px solid var(--gris-claro);
}
.product-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 30px 30px rgba(21, 255, 0, 0.15);
}

/* Estilo para los headers*/
.categoria-header {
  background: var(--verde);
  color: var(--blanco);
  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem auto;
  border-radius: 10px;
  width: 75%;
  max-width: 900px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.categoria-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}


.glass-caption {
  background: rgba(25, 206, 77, 0.45) !important; 
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
}

